{% extends "base.html" %}

{% block content %}
<form style="margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
    background-color: #ffffff;
    padding: 10px; border: solid; border-color: #ffffff; border-radius: 10px;" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <h3 style="text-align: center;">Вход</h3>
    <p>
        {{ form.phone_number(class="form-control", type="phone_number", placeholder="Номер телефона") }}
        {% for error in form.phone_number.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.password(class="form-control", type="password", placeholder="Пароль") }}
        {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    {% if message %}
        <div class="alert alert-danger" role="alert">
              {{ message }}
          </div>
    {% endif %}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}