{% extends "base.html" %}

{% block selector %}
<li style="margin-left:606px; margin-top:12px">
    <p> </p>
</li>
{% endblock %}

{% block content %}
<form id="register" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <h3 style="text-align: center;">Регистрация</h3>
    <p>
        {{ form.name(class="form-control", type="name", placeholder="Имя") }}
        {% for error in form.name.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.phone_number(class="form-control", placeholder="Номер телефона") }}
        {% for error in form.phone_number.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.password(class="form-control", type="password", placeholder="Пароль") }}
        {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.address(class="form-control", type="address", placeholder="Адрес") }}
        {% for error in form.address.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    {% if message %}
        <div class="alert alert-danger" role="alert">
              {{ message }}
          </div>
    {% endif %}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}
